:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --subtitle: #c5c5c5;
  --onda: url("./img/onda-clara.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #111;
    --fundo-2: #000;
    --texto: #fff;
    --subtitle: rgb(255, 255, 255, 0.2);
    --onda: url("./img/onda-escura.svg");
  }
}

body {
  justify-items: center;
  margin-top: 60px;
  display: grid;
  gap: 4rem;
  color: var(--texto);
}

html {
  background: var(--fundo-1);
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 2rem;
  margin: 0px;
}

h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  margin: 0px;
}

span {
  background: #ee2211;
  width: 60px;
  height: 4px;
  margin: 1px;
  position: absolute;
  top: 30px;
  right: -30px;
}

.title {
  margin-top: 3;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1.2rem;
}

.menu a {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--texto);
  text-decoration: none;
  background: var(--fundo-2);
  padding: 16px 32px;
  border-radius: 4px;
  border: 2px solid transparent;
}

.menu a:hover {
  border: solid red 2px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.about {
  background: var(--fundo-2);
  padding: 40px;
  display: grid;
  gap: 20px;
  text-align: right;
  place-content: center;
  position: relative;
}

.product a {
  text-decoration: none;
  color: #fff;
  background: var(--cor-primaria);
  border-radius: 4px;
  place-self: end;
  padding: 16px 32px;
}

.product a:hover {
  background: var(--cor-primaria-escura);
}

.product h2 {
  background-image: var(--onda);
  margin: 0px;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 40px;
  align-self: center;
  text-align: end;
  color: var(--subtitle);
}

.product h1::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  margin: 1px;
  background: #ee2211;
  top: 2rem;
  right: -2rem;
}

.advantages {
  background: var(--fundo-2);
  list-style: none;
  padding: 20px;
  margin: 0px;
}

.advantages li {
  display: grid;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  border-left: 4px solid transparent;
}

.advantages li p {
  grid-column: 2;
}

.list:nth-child(odd) {
  background: var(--fundo-1);
  border-left: 4px solid transparent;
}

.list:hover {
  border-left: solid 4px #ee2211;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--fundo-2);
  height: 5.62rem;
  width: 100%;
}

footer p {
  font-size: 1.5rem;
  line-height: 1.3;
}
